﻿<%@ Page Title="KPEI Account" Language="C#" AutoEventWireup="true" CodeBehind="KpeiAccountPage.aspx.cs" Inherits="imq.kpei.derivatif.KpeiAccountPage" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxHiddenField" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridView" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <script type="text/javascript">
    //<![CDATA[
        function OnGridFocusedRowChanged(s, e) {

            grid.GetRowValues(grid.GetFocusedRowIndex(),
                    'bankCode;settlementAccountNo;penaltyAccountNo;guaranteeFundAccountNo;feeAccountNo;bank.bankName;idx;',
                    OnGetRowValues);
        }

        function ConfirmDelete(s, e) {
            e.processOnServer = confirm("Are you sure Delete this KPEI Account \n with Bank : " + hfKpei.Get("bankName") + " ?");
        }

        function OnGetRowValues(values) {
            hfKpei.Set("bankCode", values[0]);
            hfKpei.Set("settlementAccountNo", values[1]);
            hfKpei.Set("penaltyAccountNo", values[2]);
            hfKpei.Set("guaranteeFundAccountNo", values[3]);
            hfKpei.Set("feeAccountNo", values[4]);
            hfKpei.Set("bankName", values[5]);
            hfKpei.Set("idx", values[6]);
            /*
            if (hfKpei.Get("bankCode") != undefined) {
                btndel.SetEnabled(true);
                btned.SetEnabled(true);
            } else {
                btndel.SetEnabled(false);
                btned.SetEnabled(false);
            }
            */
        }

        function view(s, e) {
            window.open("KpeiAccountView.aspx?bank=" + cmbBank.GetText(), "", "fullscreen=yes;scrollbars=auto");
        }

    //]]>
    </script>
    <div class="content">
        <div class="title">KPEI Account Number</div>
        <dx:ASPxHiddenField ID="hfKpei" runat="server" ClientInstanceName="hfKpei"></dx:ASPxHiddenField>
        <dx:ASPxLabel ID="lblError" runat="server" ForeColor="#ff0000" /> 
        <table>
            <tr>
                <td style="width:128px" nowrap="nowrap">Bank</td>
                <td> <dx:ASPxComboBox ID="cmbBank" runat="server" IncrementalFilteringMode="Contains"
                        DropDownRows="10" DropDownStyle="DropDown" Width="170px" ClientInstanceName="cmbBank">
                       
                        <DropDownButton Visible="false"></DropDownButton>
                </dx:ASPxComboBox></td>
                <td><dx:ASPxButton ID="btnGo" runat="server" Text="Search" Width="65px" 
                        onclick="btnGo_Click"></dx:ASPxButton> </td>   
                <td><dx:ASPxButton ID="btnExport" runat="server" Text="Export">
                        <ClientSideEvents Click="view"/>
                    </dx:ASPxButton></td>                   
            </tr>
        </table>
        
        <br />
        <table>
            <tr>
                <td>
                    <dx:ASPxButton ID="btnNew" runat="server" Text="New" onclick="btnNew_Click" />                        
                </td>
                <td>
                    <dx:ASPxButton ID="btnEdit" runat="server" Text="Edit" 
                        onclick="btnEdit_Click" ClientInstanceName="btned" />
                </td>
                <td>
                    <dx:ASPxButton ID="btnDelete" runat="server" Text="Delete" 
                        ClientInstanceName="btndel" onclick="btnDelete_Click"
                        ClientSideEvents-Click="ConfirmDelete" />
                </td>
            </tr>
        </table>
        <br />   
       
        <dx:ASPxGridView ID="gvKpei" runat="server" AutoGenerateColumns="False" ClientInstanceName="grid" CssClass="grid"
            KeyFieldName="bankCode" ondatabinding="gvKpei_DataBinding">
            <Columns>
                <dx:GridViewDataTextColumn VisibleIndex="0" Caption="Bank" FieldName="bank.bankName"></dx:GridViewDataTextColumn>
                <dx:GridViewDataTextColumn Caption="Settlement Account No" VisibleIndex="1" FieldName="settlementAccountNo"></dx:GridViewDataTextColumn>
                <dx:GridViewDataTextColumn Caption="Penalty Account No" VisibleIndex="2" FieldName="penaltyAccountNo" ></dx:GridViewDataTextColumn>
                <dx:GridViewDataTextColumn Caption="Guarantee Fund Account No" VisibleIndex="3" FieldName="guaranteeFundAccountNo"></dx:GridViewDataTextColumn>
                <dx:GridViewDataTextColumn Caption="Fee Account No" VisibleIndex="4" FieldName="feeAccountNo"></dx:GridViewDataTextColumn>
                       
                <dx:GridViewDataTextColumn Caption="Bank Code" Visible="false" VisibleIndex="5" FieldName="bankCode"></dx:GridViewDataTextColumn>
                <dx:GridViewDataTextColumn Caption="idx" Visible="false" VisibleIndex="6" FieldName="idx"></dx:GridViewDataTextColumn>
            </Columns>          
            <SettingsBehavior AllowSelectSingleRowOnly="True" AllowFocusedRow="True" AllowSelectByRowClick="True" />
            <ClientSideEvents FocusedRowChanged="function(s, e) { OnGridFocusedRowChanged(); }" RowClick="OnGridFocusedRowChanged"/>                   
            <Styles>
            <AlternatingRow Enabled="True" />
                <Header CssClass="gridHeader" />
            </Styles>
            <SettingsPager PageSize="20">
            </SettingsPager>
            <Settings ShowVerticalScrollBar="True" />
        </dx:ASPxGridView>
                
    </div>
</asp:Content>

