﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kpei.Master" AutoEventWireup="true" CodeBehind="MemberLiquidationEdit.aspx.cs" Inherits="imq.kpei.derivatif.MemberLiquidationEdit" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridView" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>
    
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxHiddenField" TagPrefix="dx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <div class="content">
        <div class="title"><dx:ASPxLabel ID="lbltitle" runat="server" Text="Member Liquidation" /></div>
        <dx:ASPxLabel ID="lblError" runat="server" ForeColor="#ff0000" />
        <div id="plApproval">
            <table>
                <tr>
                    <td><dx:ASPxRadioButtonList ID="rblApproval" runat="server" AutoPostBack="True" 
                            ClientIDMode="AutoID"></dx:ASPxRadioButtonList></td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <td style="width:128px">ID</td>
                <td><dx:ASPxLabel ID="lblId" runat="server" ></dx:ASPxLabel></td>
            </tr>
            <tr>
                <td style="width:128px">Date</td>
                <td>    
                    <dx:ASPxDateEdit ID="deDate" runat="server" EditFormat="Custom" 
                        EditFormatString="dd/MM/yyyy" ReadOnly="true" Enabled="false">
                        </dx:ASPxDateEdit>  
                 </td>                  
                    
            </tr>
            <tr>
                <td>Member ID</td>
                <td>
                    <dx:ASPxLabel ID="lblMemberId" runat="server" ></dx:ASPxLabel>
                </td>
            </tr>
            <tr>
                <td>Indicator</td>
                <td>
                    <dx:ASPxLabel ID="lblIndicator" runat="server" ></dx:ASPxLabel>
                </td>
            </tr>
            <tr>
                <td style="width:128px">Liquidated<span style="color:Red">*</span></td>
                <td>
                    <dx:ASPxRadioButtonList ID="rbLiquidated" runat="server" AutoPostBack="true" 
                        RepeatDirection="Horizontal" ValueType="System.String">
                        <Border BorderWidth="0px" />
                        <Items>
                            <dx:ListEditItem Text="Yes" Value="A" Selected="true" />
                            <dx:ListEditItem Text="No" Value="N" />                                
                        </Items>
                    </dx:ASPxRadioButtonList>
                </td>
            </tr>
            
        </table>

        <div>
            <table>
                <tr>
                    <td><dx:ASPxButton ID="btnSave" runat="server" Text="Save" 
                            onclick="btnSave_Click" /></td>                    
                    <td><dx:ASPxButton ID="btnChecker" runat="server" Text="Check" AutoPostBack="False" 
                            onclick="btnChecker_Click" Width="70px" /></td>
                    <td><dx:ASPxButton ID="btnApproval" runat="server" Text="Approve" AutoPostBack="False" 
                            onclick="btnApproval_Click" Width="70px" /></td>
                    <td><dx:ASPxButton ID="btnReject" runat="server" Text="Reject" AutoPostBack="False" 
                            onclick="btnReject_Click" Width="70px"/></td>
                    <td><dx:ASPxButton ID="btnCancel" runat="server" Text="Cancel" AutoPostBack="True"
                            onclick="btnCancel_Click" CausesValidation="false" Width="70px" /></td>                   
                </tr>
            </table> 
        </div>
    </div>
    <dx:ASPxHiddenField ID="hfML" runat="server" ClientInstanceName="hfML" />
</asp:Content>
