﻿<%@ Page Title="Take Up Confirmation" Language="C#" AutoEventWireup="true" CodeBehind="takeupconfirm.aspx.cs" Inherits="imq.kpei.derivatif.takeupconfirm" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridView" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>
<%@ Register assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" 
namespace="DevExpress.Web.ASPxHiddenField" tagprefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
 <script type="text/javascript">
        //<![CDATA[
     function OnGridFocusedRowChanged() {
         grid.GetRowValues(grid.GetFocusedRowIndex(), "tradingId;", OnGetRowValues);
     }

     function OnGetRowValues(values) {
         hfTu.Set("tradingId", values[0]);

     }
        //]]>
    </script>
        <div class="content">
        <dx:ASPxHiddenField ID="hfTakeUp" runat="server" ClientInstanceName="hfTu"></dx:ASPxHiddenField>
        <div class="title"><dx:ASPxLabel ID="lblTitle" runat="server" Text="Take Up Confirmation" /> </div>
            <dx:ASPxLabel ID="lblError" runat="server" ForeColor="#ff0000" />
            <div id="plApproval">
                <table>
                    <tr>
                        <td><dx:ASPxRadioButtonList ID="rblApproval" runat="server" AutoPostBack="True" 
                                ClientIDMode="AutoID"></dx:ASPxRadioButtonList></td>
                    </tr>
                </table>
            </div>
            <table>
            <tr>
                <td style="width:128px">Member ID Give Up</td>
                <td><dx:ASPxTextBox ID="txtMemberGU" runat="server" Width="170px" /> </td>
            </tr>
            <tr>
                <td>Member ID Take Up</td>
                <td><dx:ASPxTextBox ID="txtMemberTU" runat="server" Width="170px" /> </td>
            </tr>
            </table>

            <br />
               
        <dx:ASPxGridView ID="gvTakeUp" runat="server" AutoGenerateColumns="false" ClientInstanceName="grid"  
            CssClass="grid" KeyFieldName="id.sid" >
            <Columns>
                <dx:GridViewDataTextColumn Caption="SID" VisibleIndex="0" FieldName="id.sid" />                
                <dx:GridViewDataTextColumn Caption="Trading ID" VisibleIndex="1" FieldName="tradingId"/>                        
                <dx:GridViewDataTextColumn Caption="Gu No" VisibleIndex="2" FieldName="id.guNo" Visible="false" />                
            </Columns>       
            <Templates>
                <DetailRow>
                    <dx:ASPxGridView ID="detailGrid" runat="server" KeyFieldName="sid" Width="100%"
                    ondatabinding="detailGrid_DataBinding" OnBeforePerformDataSelect="detailGrid_DataSelect" OnLoad="detailGrid_OnLoad">
                    <Columns>                        
                        <dx:GridViewDataTextColumn Caption="Trading ID" VisibleIndex="0" FieldName="sid" Visible="false"/>
                        <dx:GridViewDataTextColumn Caption="Member ID" VisibleIndex="1" FieldName="memberID" Visible="false"/>
                        <dx:GridViewDataTextColumn Caption="Series Contract" VisibleIndex="2" FieldName="series"></dx:GridViewDataTextColumn>
                        <dx:GridViewDataTextColumn Caption="Net Buy" VisibleIndex="3" FieldName="netB"></dx:GridViewDataTextColumn>
                        <dx:GridViewDataTextColumn Caption="Net Sell" VisibleIndex="3" FieldName="netS"></dx:GridViewDataTextColumn>
                    </Columns>
                </dx:ASPxGridView>
                </DetailRow>
            </Templates>        
            <SettingsDetail ShowDetailRow="true" />
            <SettingsBehavior AllowSelectByRowClick="true" AllowFocusedRow="true" AllowGroup="false"/>
            <ClientSideEvents FocusedRowChanged="function(s, e) { OnGridFocusedRowChanged(); }" />
        </dx:ASPxGridView>
               
            <br />
            <br />

            <p>Approve Take Up. Are You Sure ?</p>
            <br />
            <table>
            <tr>
                <td><dx:ASPxButton ID="btnAccept" runat="server" Text="Accept" 
                        onclick="btnAccept_Click" /></td>                
                <td><dx:ASPxButton ID="btnRejectTakeUp" runat="server" Text="Denied" 
                        onclick="btnRejectTakeUp_Click" /></td>
                <td></td>
                <td><dx:ASPxButton ID="btnChecker" runat="server" Text="Check" AutoPostBack="false" 
                            onclick="btnChecker_Click" Width="70px" /></td>
                    <td><dx:ASPxButton ID="btnApproval" runat="server" Text="Approve" AutoPostBack="false" 
                            onclick="btnApproval_Click" Width="70px" /></td>
                    <td><dx:ASPxButton ID="btnReject" runat="server" Text="Reject" AutoPostBack="false" 
                            onclick="btnReject_Click" Width="70px"/></td>
                <td><dx:ASPxButton ID="btnCancel" runat="server" Text="Cancel" 
                        onclick="btnCancel_Click" /></td>
            </tr>
            </table>
        </div>

</asp:Content>
