﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeBehind="UnderlyingEdit.aspx.cs" Inherits="imq.kpei.derivatif.UnderlyingEdit" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>
<%@ Register assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" 
    namespace="DevExpress.Web.ASPxHiddenField" tagprefix="dx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <script type="text/javascript">
    //<![CDATA[
        function OnValidation(s, e) {
            var value = e.value;
            if (value == null)
                return;

            if (value.length < 1)
                e.isValid = false;


        }
    //]]>
    </script>
    <div class="content">
        <div class="title"><dx:ASPxLabel ID="lblTitle" runat="server" Text="Underlying Edit" /> </div>        
        <dx:ASPxLabel ID="lblError" runat="server" ForeColor="#ff0000" />
        <div id="plApproval">
            <table>
                <tr>
                    <td><dx:ASPxRadioButtonList ID="rblApproval" runat="server" AutoPostBack="True" 
                            ClientIDMode="AutoID"></dx:ASPxRadioButtonList></td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <td style="width:128px">Code<span style="color:Red">*</span></td>
                <td><dx:ASPxTextBox ID="txtCode" runat="server" Width="120px" EnableClientSideAPI="true"
                        ClientInstanceName="txtid">
                        <ValidationSettings ErrorText="Required">
                            <RequiredField IsRequired="true" ErrorText="Required" />
                        </ValidationSettings>
                        <ClientSideEvents Validation="OnValidation" />
                    </dx:ASPxTextBox></td>                        
            </tr>
            
            <tr>
                <td>Description</td>
                <td><dx:ASPxMemo ID="memoDescription" runat="server" Width="170px" Height="60px" /></td>
            </tr>
           
        </table>
        <br />
        <table>
            <tr>
                <td>
                    <dx:ASPxButton ID="btnSave" runat="server" Text="Save" AutoPostBack="false"
                        onclick="btnSave_Click" Width="70px" />                        
                </td>
                <td><dx:ASPxButton ID="btnChecker" runat="server" Text="Check" AutoPostBack="false" 
                            onclick="btnChecker_Click" Width="70px" /></td>
                <td><dx:ASPxButton ID="btnApproval" runat="server" Text="Approve" AutoPostBack="false" 
                        onclick="btnApproval_Click" Width="70px" /></td>
                
                <td><dx:ASPxButton ID="btnReject" runat="server" Text="Reject" AutoPostBack="false" 
                            onclick="btnReject_Click" Width="70px" /></td>
                 <td><dx:ASPxButton ID="btnCancel" runat="server" Text="Cancel" AutoPostBack="True"
                        onclick="btnCancel_Click" CausesValidation="false" Width="70px" />
                </td>
                            
            </tr>
        </table>
        <br />
        
        <dx:ASPxHiddenField ID="hfUnderlying" runat="server" ClientInstanceName="hfUnderlying" />
    </div>
</asp:Content>
