﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeBehind="UnderlyingPage.aspx.cs" Inherits="imq.kpei.derivatif.UnderlyingPage" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridView" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>

<%@ Register assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" 
    namespace="DevExpress.Web.ASPxHiddenField" tagprefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <script type="text/javascript">
    // <![CDATA[
        function OnGridFocusedRowChanged() {
            grid.GetRowValues(grid.GetFocusedRowIndex(), 'code;description;idx;', OnGetRowValues);

        }

        function OnGetRowValues(values) {

            hfUnderlying.Set("code", values[0]);
            hfUnderlying.Set("description", values[1]);
            hfUnderlying.Set("idx", values[2]);
            //btndel.SetEnabled(true);
            //btned.SetEnabled(true);
        }

        function ConfirmDelete(s, e) {
            e.processOnServer = confirm("Are you sure Delete this \nCode : " + hfUnderlying.Get("code") + " ?");
        }

        function view(s, e) {
            window.open("UnderlyingView.aspx?search=" + txtSearch.GetText(), "", "fullscreen=yes;scrollbars=auto");
        }

    // ]]>
    </script>
    <dx:ASPxHiddenField ID="hfUnderlying" runat="server" ClientInstanceName="hfUnderlying" />
    <div id="searchbox">
            
        
    </div>

    <div class="content">
        <div class="title">Underlying</div>
        <dx:ASPxLabel ID="lblError" runat="server" ForeColor="#ff0000" />
        <table id="tblsearch">
            <tr>
                <td>
                    <dx:ASPxTextBox ID="txtSearch" runat="server" Width="107px" ClientInstanceName="txtSearch"/> 
                </td>
                <td><dx:ASPxButton ID="btnSearch" runat="server" Text="Search" 
                        onclick="btnSearch_Click" AutoPostBack="false" /></td>
                <td><dx:ASPxButton ID="btnExport" runat="server" Text="Export">
                        <ClientSideEvents Click="view"/>
                    </dx:ASPxButton></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <dx:ASPxButton ID="btnNew" runat="server" Text="New" AutoPostBack="false" 
                        onclick="btnNew_Click" />                        
                </td>
                <td>
                    <dx:ASPxButton ID="btnEdit" runat="server" Text="Edit" AutoPostBack="false"
                        onclick="btnEdit_Click" ClientInstanceName="btned" />
                </td>
                <td>
                    <dx:ASPxButton ID="btnDelete" runat="server" Text="Delete" AutoPostBack="false" 
                        onclick="btnDelete_Click" ClientInstanceName="btndel" ClientSideEvents-Click="ConfirmDelete" />
                </td>
            </tr>
        </table>
        <br />
        
        <dx:ASPxGridView ID="gvUnderlying" runat="server" ClientInstanceName="grid" AutoGenerateColumns="false"
            KeyFieldName="code" OnDataBinding="gvUnderlying_DataBinding" CssClass="grid">
            <Columns>
                <dx:GridViewDataTextColumn Caption="Code" FieldName="code" VisibleIndex="0" />
                <dx:GridViewDataTextColumn Caption="Description" FieldName="description" VisibleIndex="1" />
                <dx:GridViewDataTextColumn Caption="IDX" FieldName="idx" VisibleIndex="2" Visible="false" />
            </Columns>
            <SettingsBehavior AllowFocusedRow="true" AllowSelectSingleRowOnly="true" AllowSelectByRowClick="true" />
            <ClientSideEvents FocusedRowChanged="function(s, e) { OnGridFocusedRowChanged(); }" />
            <SettingsPager PageSize="20">
            </SettingsPager>
            <Styles>
                <AlternatingRow Enabled="True" />
                <Header CssClass="gridHeader" />
            </Styles>
            <Settings ShowVerticalScrollBar="True" />
        </dx:ASPxGridView>
        
    </div>
</asp:Content>
