﻿<%@ Page Title="Assignment List" Language="C#" AutoEventWireup="true" CodeBehind="assignment.aspx.cs" Inherits="imq.kpei.transaction.assignment" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridView" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <div class="content">
        <div class="title">Assignment List</div>
        <table>
            <tr>
                <td style="width:128px">Member ID</td>
                <td><dx:ASPxComboBox ID="cmbMemberID" runat="server" ClientInstanceName="cmbmember">
                </dx:ASPxComboBox></td>
            </tr>
            <tr>
                <td style="width:128px">Contract ID</td>
                <td><dx:ASPxComboBox ID="cmbContractID" runat="server" ClientInstanceName="cmbID">
                </dx:ASPxComboBox></td>                        
            </tr>                       
        </table>
         <br />
        <dx:ASPxButton ID="btnGO" runat="server" Text="GO" />
        <br />
        <dx:ASPxGridView ID="gvPrice" ClientInstanceName="grid" runat="server" AutoGenerateColumns="False"
            CssClass="grid" >
            <Columns>
                <dx:GridViewBandColumn Caption="Exercise*" VisibleIndex="0">
                    <Columns>
                        <dx:GridViewDataTextColumn Caption="Exercise No" VisibleIndex="0" />
                        <dx:GridViewDataTextColumn Caption="Buy Member ID" VisibleIndex="1" />                     
                        <dx:GridViewDataTextColumn Caption="Role" VisibleIndex="2" />
                        <dx:GridViewDataTextColumn Caption="SID" VisibleIndex="3"/>
                        <dx:GridViewDataTextColumn Caption="Quantity" VisibleIndex="4" />
                    </Columns>                    
                </dx:GridViewBandColumn>
                <dx:GridViewBandColumn Caption="Assignment" VisibleIndex="1">
                    <Columns>
                        
                        <dx:GridViewDataTimeEditColumn Caption="Time" VisibleIndex="0">
                        </dx:GridViewDataTimeEditColumn>
                        <dx:GridViewDataTextColumn Caption="Sell Member ID" VisibleIndex="1" />
                        <dx:GridViewDataTextColumn Caption="Role" VisibleIndex="2"/>
                        <dx:GridViewDataTextColumn Caption="SID" VisibleIndex="3" />
                        <dx:GridViewDataTextColumn Caption="Contract ID" VisibleIndex="4" />
                        
                        <dx:GridViewDataTextColumn Caption="Quantity" VisibleIndex="6" />                     
                    </Columns>
                </dx:GridViewBandColumn>                
              
            </Columns>
            <SettingsBehavior AllowSelectSingleRowOnly="True" AllowFocusedRow="True" AllowSelectByRowClick="True" />           
            <Styles>                        
                <Header CssClass="gridHeader">
                </Header>
            </Styles>
        </dx:ASPxGridView>
    </div>
</asp:Content>
