﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="settlementPriceEdit.aspx.cs" Inherits="imq.kpei.transaction.settlementPrice.settlementPriceEdit" %>

<%@ Register assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxEditors" tagprefix="dx" %>
<%@ Register assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxGridView" tagprefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <script type="text/javascript">
        function onCellClick(rowIndex, fieldName) {
            ASPxGridView1.PerformCallback(rowIndex + "|" + fieldName);
        }
        function OnEditorKeyPress(editor, e) {
            if (e.htmlEvent.keyCode == 13 || e.htmlEvent.keyCode == 9) {
                ASPxGridView1.UpdateEdit();
            }
            else
                if (e.htmlEvent.keyCode == 27)
                    ASPxGridView1.CancelEdit();
        }
    </script>
    <div class="content">
        <div class="title">Daily/Final Settlement Price Editor</div>
        <div>
            <table>
                <tr>
                    <td><dx:ASPxLabel ID="ASPxLabel5" runat="server" Text="Contract ID"></dx:ASPxLabel></td>
                    <td>
                        <dx:ASPxTextBox ID="dtContractId" ClientInstanceName="clContractId" runat="server" Width="170px"></dx:ASPxTextBox></td>
                </tr>
                <tr>
                    <td><dx:ASPxLabel ID="ASPxLabel2" runat="server" Text="Point Num"></dx:ASPxLabel></td>
                    <td><dx:ASPxTextBox ID="dtPointNum" ClientInstanceName="clPointNum" runat="server" Width="170px"></dx:ASPxTextBox></td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <dx:ASPxGridView ID="gvEdit" ClientInstanceName="grid" runat="server" 
                        AutoGenerateColumns="False" EnableRowsCache="False" Width="300px"                        
                            oncustomcallback="gvEdit_CustomCallback">
                            <SettingsBehavior AllowFocusedRow="True" AllowSelectSingleRowOnly="True"></SettingsBehavior>
                            <Columns>
                                <dx:GridViewDataTextColumn VisibleIndex="0" Caption="Point" FieldName="id" ReadOnly="True"  Width="75px" ><HeaderStyle HorizontalAlign="Center" /></dx:GridViewDataTextColumn>
                                <dx:GridViewDataTextColumn VisibleIndex="1" Caption="Value" FieldName="price"><HeaderStyle HorizontalAlign="Center"/><DataItemTemplate><dx:ASPxTextBox ID="textBox" runat="server" Value='<%# Eval("price")%>'></dx:ASPxTextBox></DataItemTemplate></dx:GridViewDataTextColumn>
                                <dx:GridViewDataTextColumn VisibleIndex="2" Caption="Time" FieldName="datetime" ReadOnly="True"><HeaderStyle HorizontalAlign="Center"/></dx:GridViewDataTextColumn>
                            </Columns>
                            <SettingsBehavior AllowSelectSingleRowOnly="True" AllowFocusedRow="True" AutoExpandAllGroups="True" />
                            <SettingsEditing Mode="Inline"></SettingsEditing>
                            <SettingsPager PageSize="12"></SettingsPager>
                            <Settings ShowVerticalScrollBar="True" VerticalScrollableHeight="290" />
                        </dx:ASPxGridView>                    
                    </td>
                </tr>
            </table>
        </div>       
        <div>
            <table>
                <tr>
                    <td><dx:ASPxButton ID="btnContinue" runat="server" Text="Save" AutoPostBack="False" 
                            visible="false" ><ClientSideEvents Click="function(s, e) {grid.PerformCallback('post');}" /></dx:ASPxButton></td>
                    <td><dx:ASPxButton ID="btnSave" runat="server" Text="Save" AutoPostBack="False" onclick="btnSave_Click"></dx:ASPxButton></td>
                    <td><dx:ASPxButton ID="btnClose" runat="server" Text="Close" AutoPostBack="False" onclick="btnCancel_Click"></dx:ASPxButton></td>
                </tr>
            </table> 
        </div>     
    </div>
</asp:Content>

