﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kpei.Master" AutoEventWireup="true"
    CodeBehind="Req03.aspx.cs" Inherits="imq.kpei.kbiekos.Req03" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridView" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridView.Export" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxUploadControl" TagPrefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <div id="content">
        <div class="title">
            Validasi Harga Penyelesaian Harian (HPH) dan Harga Penyelesaian Final
        </div>
        <div style="float: right; margin-top: 10px">
            <table>
                <tr>
                    <td>
                        <dx:ASPxButton ID="btnExport" runat="server" Text="Export" 
                            onclick="btnExport_Click" Visible="false">
                            <ClientSideEvents Click="view" />
                        </dx:ASPxButton>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 30px">
            <table>
                <tr>
                    <td >
                        Data Trade Filename
                    </td>
                    <td style="padding-left: 10px">
                        <dx:ASPxComboBox ID="cmbFile" runat="server" ValueType="System.String" DropDownStyle="DropDownList"
                            TextField="File">
                        </dx:ASPxComboBox>
                    </td>
                    <td style="padding-left: 5px">
                        <dx:ASPxButton ID="btnValidasi" runat="server" Text="Validasi" AutoPostBack="false"
                            OnClick="btnValidasi_Click">
                        </dx:ASPxButton>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 10px">
            <dx:ASPxGridViewExporter ID="GridExporter1" runat="server" 
                GridViewID="gridView" ondatabinding="GridExporter1_DataBinding">
            </dx:ASPxGridViewExporter>
            <dx:ASPxGridView ID="gridView" ClientInstanceName="grid" runat="server" KeyFieldName="series"
                AutoGenerateColumns="False" SettingsPager-PageSize="10" CssClass="grid" OnDataBinding="gridView_DataBinding">
                <Columns>
                    <%--<dx:GridViewDataTextColumn VisibleIndex="0" Caption="No" FieldName="no">
                    </dx:GridViewDataTextColumn>--%>
                    <dx:GridViewDataTextColumn VisibleIndex="1" Caption="Series" FieldName="series">
                        <EditCellStyle HorizontalAlign="Right">
                        </EditCellStyle>
                        <HeaderStyle HorizontalAlign="Center" />
                    </dx:GridViewDataTextColumn>
                    <dx:GridViewBandColumn Caption="Data Sampling Spot" VisibleIndex="3">
                        <Columns>
                            <dx:GridViewDataTextColumn VisibleIndex="1" Caption="15.30" FieldName="str1">
                                <EditCellStyle HorizontalAlign="Right">
                                </EditCellStyle>
                                <HeaderStyle HorizontalAlign="Center" />
                                <CellStyle HorizontalAlign="Right">
                                </CellStyle>
                            </dx:GridViewDataTextColumn>
                            <dx:GridViewDataTextColumn VisibleIndex="2" Caption="15.40" FieldName="str2">
                                <EditCellStyle HorizontalAlign="Right">
                                </EditCellStyle>
                                <HeaderStyle HorizontalAlign="Center" />
                                <CellStyle HorizontalAlign="Right">
                                </CellStyle>
                            </dx:GridViewDataTextColumn>
                            <dx:GridViewDataTextColumn Caption="15.50" VisibleIndex="4" FieldName="str3">
                                <EditCellStyle HorizontalAlign="Right">
                                </EditCellStyle>
                                <HeaderStyle HorizontalAlign="Center" />
                                <CellStyle HorizontalAlign="Right">
                                </CellStyle>
                            </dx:GridViewDataTextColumn>
                            <dx:GridViewDataTextColumn Caption="16.00" VisibleIndex="6" FieldName="str4">
                                <EditCellStyle HorizontalAlign="Right">
                                </EditCellStyle>
                                <HeaderStyle HorizontalAlign="Center" />
                                <CellStyle HorizontalAlign="Right">
                                </CellStyle>
                            </dx:GridViewDataTextColumn>
                        </Columns>
                        <HeaderStyle HorizontalAlign="Center" />
                    </dx:GridViewBandColumn>
                    <dx:GridViewBandColumn Caption="Data Sampling Trade" VisibleIndex="5">
                        <Columns>
                            <dx:GridViewDataTextColumn VisibleIndex="4" Caption="15.45" FieldName="str5">
                                <EditCellStyle HorizontalAlign="Right">
                                </EditCellStyle>
                                <HeaderStyle HorizontalAlign="Center" />
                                <CellStyle HorizontalAlign="Right">
                                </CellStyle>
                            </dx:GridViewDataTextColumn>
                            <dx:GridViewDataTextColumn VisibleIndex="5" Caption="15.55" FieldName="str6">
                                <EditCellStyle HorizontalAlign="Right">
                                </EditCellStyle>
                                <HeaderStyle HorizontalAlign="Center" />
                                <CellStyle HorizontalAlign="Right">
                                </CellStyle>
                            </dx:GridViewDataTextColumn>
                            <dx:GridViewDataTextColumn Caption="16.05" VisibleIndex="7" FieldName="str7">
                                <EditCellStyle HorizontalAlign="Right">
                                </EditCellStyle>
                                <HeaderStyle HorizontalAlign="Center" />
                                <CellStyle HorizontalAlign="Right">
                                </CellStyle>
                            </dx:GridViewDataTextColumn>
                            <dx:GridViewDataTextColumn Caption="16.15" VisibleIndex="9" FieldName="str8">
                                <EditCellStyle HorizontalAlign="Right">
                                </EditCellStyle>
                                <HeaderStyle HorizontalAlign="Center" />
                                <CellStyle HorizontalAlign="Right">
                                </CellStyle>
                            </dx:GridViewDataTextColumn>
                        </Columns>
                        <HeaderStyle HorizontalAlign="Center" />
                    </dx:GridViewBandColumn>
                    <dx:GridViewDataTextColumn Caption="HPH/HPF" VisibleIndex="8" FieldName="str9">
                        
                        <HeaderStyle HorizontalAlign="Center" />
                        <CellStyle HorizontalAlign="Right">
                        </CellStyle>
                    </dx:GridViewDataTextColumn>
                </Columns>
                <SettingsBehavior AllowFocusedRow="True" AllowSelectByRowClick="True" AllowSelectSingleRowOnly="True" />
                <SettingsPager PageSize="15">
                </SettingsPager>
                <Settings ShowVerticalScrollBar="True" UseFixedTableLayout="True" VerticalScrollableHeight="300" />
                <Styles>
                    <AlternatingRow Enabled="True">
                    </AlternatingRow>
                </Styles>
            </dx:ASPxGridView>
        </div>
    </div>
</asp:Content>
