﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="blocked_collateral.aspx.cs" Inherits="imq.kpei.transaction.blocked_collateral.blocked_collateral" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Sistem Kliring Derivatif - Blocked Collateral Detail</title>    
</head>
<body style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px; padding-top: 5px; background-color: White">
    <form id="form1" runat="server">
    </form>
</body>
</html>
