﻿<%@ Page Title="Change Password" Language="C#"  AutoEventWireup="true" CodeBehind="changepass.aspx.cs" Inherits="imq.kpei.account.changepass" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
   <div class="content">
        <div class="title"><h3>Change Password</h3></div>
        <br />
        <table>
            <tr>
                <td style="width:128px">Old Password</td>
                <td><dx:ASPxTextBox ID="txtOldPass" runat="server" Width="170px" Password="true" /></td>
            </tr>
            <tr>
                <td style="width:128px">New Password</td>
                <td><dx:ASPxTextBox ID="txtNewPass" runat="server" Width="170px" Password="true"/></td>
            </tr>
            <tr>
                <td style="width:128px">Confirm New Password</td>
                <td><dx:ASPxTextBox ID="txtConfirm" runat="server" Width="170px" Password="true"/></td>
            </tr>

            <tr>
                <td></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <td><dx:ASPxButton ID="btnSubmit" runat="server" Text="Submit" Width="60px"/></td>
                        
                        <td><dx:ASPxButton ID="btnCancel" runat="server" Text="Cancel" Width="60px"/></td>
                    </table>
                </td>
                
            </tr>
        </table>
   </div>
</asp:Content>
