﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="home.aspx.cs" Inherits="imq.kpei.home"
    StylesheetTheme="" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxTimer" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPanel" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPopupControl" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPanel" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxSplitter" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxTreeView" TagPrefix="dx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript">

    function ShowCurrentTime() {
        PageMethods.GetCurrentTime();
    }

        function ShowLoginWindow() {
           pcLogin.Show();
        }



    function startTime() {
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            var returned = (new Date).getTime();
            if (request.readyState === 4 && request.status === 200) {
                var timestamp = request.responseText.split('|');
                var d = timestamp[0];
                var Mo = timestamp[1];
                var y = timestamp[2];
                var h = timestamp[3];
                var m = timestamp[4];
                var s = timestamp[5];
                // so the server time will be client time + difference
                document.getElementById('dateTime').innerHTML = d + "/" + Mo + "/" + y + "  " + h + ":" + m;
                //return timeoffset;
                return "";

            }
        }
        request.open("POST", "getDateTime.aspx", true);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send("original=" + (new Date).getTime());

    }

    function time() {
        startTime();
        setTimeout(time, 1000 * 10);
    }

    //setTimeout(time, 100);
</script>
<head runat="server">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Sistem Kliring Derivatif</title>
    <link href="Styles/home/style.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery/ui/jquery.ui.tabs.min.js" type="text/javascript"></script>
    <link href="Styles/home/style.css" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" type="text/css" href="js/jquery/ui/themes/no-theme/jquery-ui.css" />
</head>
<body onload="startTime()">
    <form id="form1" runat="server">
    <div>
        <dx:ASPxSplitter ID="mainSplitter" runat="server" FullscreenMode="True" Width="100%"
            Orientation="Vertical" SeparatorSize="0px" SeparatorVisible="False" ShowSeparatorImage="False"
            ClientInstanceName="mainSplitter">
            <Panes>
                <dx:SplitterPane Name="headerPane" Size="50px" PaneStyle-BackColor="#DBF4DE" AllowResize="False">
                    <PaneStyle BackColor="#DBF4DE" Border-BorderStyle="None" CssClass="header_pane">
                        <Paddings Padding="0px" />
                        <Paddings Padding="0px"></Paddings>
                        <Border BorderStyle="None"></Border>
                    </PaneStyle>
                    <ContentCollection>
                        <dx:SplitterContentControl ID="headerPane" runat="server">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td>
                                        <div class="logo">
                                            <img src="Styles/home/images/logo.png" alt="logo" />
                                        </div>
                                        <div class="user_menu">
                                            <ul>
                                                <li>
                                                    <img src="Styles/home/images/acc_icon.png" alt="acc" /><a href="#">My Account</a></li>
                                                <li>
                                                    <img src="Styles/home/images/logout_icon.png" alt="acc" /><asp:LinkButton ID="buttonLogout"
                                                        runat="server" OnClick="buttonLogout_Click">Logout</asp:LinkButton></li>
                                               
                                            </ul>
                                        </div>
                                        <div id="dateTime" style="padding-left: 150px; color: #FFFF66">
                                        </div>
                                        <div>
                                        </div>
                                        <div style="padding-left: 150px; color: Yellow">
                                            <dx:ASPxLabel ID="idMember" runat="server">
                                            </dx:ASPxLabel>
                                        </div>
                                        <div style="padding-left: 150px; color: Yellow">
                                            <dx:ASPxLabel ID="idUser" runat="server">
                                            </dx:ASPxLabel>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </dx:SplitterContentControl>
                    </ContentCollection>
                </dx:SplitterPane>
                <dx:SplitterPane>
                    <Panes>
                        <dx:SplitterPane Name="menuPane" Size="250px" AllowResize="False" ScrollBars="Auto">
                            <PaneStyle Border-BorderStyle="None">
                                <Paddings Padding="5px" />
                                <Paddings Padding="5px"></Paddings>
                                <Border BorderStyle="None"></Border>
                            </PaneStyle>
                            <ContentCollection>
                                <dx:SplitterContentControl ID="menuPane" runat="server">
                                    <dx:ASPxTreeView ID="treeMenu" runat="server" AllowSelectNode="True" Width="100%"
                                        ClientInstanceName="treeMenu" Height="100%">
                                        <ClientSideEvents NodeClick="
function(s, e) {
    var selectedURL = e.node.name;
    if ((selectedURL != null) || (selectedURL != '')) {
        var paneContent = mainSplitter.GetPaneByName('contentPane');
        paneContent.SetContentUrl(selectedURL.toString());
        paneContent.RefreshContentUrl();                   
    }                     
}" />
                                        <ClientSideEvents NodeClick="
function(s, e) {
    var selectedURL = e.node.name;
    if ((selectedURL != null) || (selectedURL != &#39;&#39;)) {
        var paneContent = mainSplitter.GetPaneByName(&#39;contentPane&#39;);
        paneContent.SetContentUrl(selectedURL.toString());
        paneContent.RefreshContentUrl();                   
    }                     
}"></ClientSideEvents>
                                        <Images SpriteCssFilePath="~/App_Themes/DevEx/{0}/sprite.css">
                                            <NodeLoadingPanel Url="~/App_Themes/DevEx/Web/tvNodeLoading.gif">
                                            </NodeLoadingPanel>
                                            <LoadingPanel Url="~/App_Themes/DevEx/Web/Loading.gif">
                                            </LoadingPanel>
                                        </Images>
                                        <Styles CssFilePath="~/App_Themes/DevEx/{0}/styles.css" CssPostfix="DevEx">
                                        </Styles>
                                    </dx:ASPxTreeView>
                                </dx:SplitterContentControl>
                            </ContentCollection>
                        </dx:SplitterPane>
                        <dx:SplitterPane>
                            <Panes>
                                <dx:SplitterPane Name="contentPane" ContentUrl="~/welcome.aspx" ContentUrlIFrameName="contentPane"
                                    ScrollBars="Auto">
                                    <PaneStyle Border-BorderStyle="None">
                                        <Paddings Padding="0px" PaddingLeft="5px" />
                                        <Paddings Padding="0px" PaddingLeft="5px"></Paddings>
                                        <Border BorderStyle="None"></Border>
                                    </PaneStyle>
                                    <ContentCollection>
                                        <dx:SplitterContentControl ID="contentPane" runat="server">
                                        </dx:SplitterContentControl>
                                    </ContentCollection>
                                </dx:SplitterPane>
                            </Panes>
                            <PaneStyle>
                                <Paddings PaddingBottom="0px" PaddingLeft="5px" PaddingRight="5px" PaddingTop="0px" />
                                <Paddings PaddingLeft="5px" PaddingTop="0px" PaddingRight="5px" PaddingBottom="0px">
                                </Paddings>
                            </PaneStyle>
                            <ContentCollection>
                                <dx:SplitterContentControl runat="server">
                                </dx:SplitterContentControl>
                            </ContentCollection>
                        </dx:SplitterPane>
                    </Panes>
                    <ContentCollection>
                        <dx:SplitterContentControl runat="server">
                        </dx:SplitterContentControl>
                    </ContentCollection>
                </dx:SplitterPane>
                <dx:SplitterPane Name="footerPane" Size="120px">
                    <PaneStyle>
                        <Paddings Padding="0px" PaddingLeft="5px" PaddingRight="5px" />
                        <Border BorderStyle="None" />
                        <Paddings Padding="0px" PaddingLeft="5px" PaddingRight="5px"></Paddings>
                        <Border BorderStyle="None"></Border>
                    </PaneStyle>
                    <ContentCollection>
                        <dx:SplitterContentControl runat="server">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td width="50%">
                                        <div style="border: 1px solid #d2d2d2; height: 115px; background-color: #efefef;">
                                            <div>
                                                <h3>
                                                    News</h3>
                                                <dx:ASPxListBox ID="newsList" runat="server" BackColor="#EFEFEF" ClientInstanceName="newsList"
                                                    EnableCallbackMode="True" EnableClientSideAPI="True" Height="58px" Width="100%">
                                                    <Border BorderStyle="None" />
                                                    <Border BorderStyle="None"></Border>
                                                </dx:ASPxListBox>
                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td width="100%" valign="middle">
                                                            <dx:ASPxTextBox ID="textBoxNewsInput" runat="server" Width="100%" ClientInstanceName="textBoxNewsInput"
                                                                EnableClientSideAPI="True">
                                                            </dx:ASPxTextBox>
                                                        </td>
                                                        <td valign="middle">
                                                            &nbsp;
                                                        </td>
                                                        <td valign="middle">
                                                            <dx:ASPxButton ID="buttonSendNews" runat="server" Text="Send" ClientInstanceName="buttonSendNews"
                                                                AutoPostBack="False" EnableClientSideAPI="True">
                                                                <ClientSideEvents Click="function(s, e) {
	                                                                client.send(newsTopic, {}, textBoxNewsInput.GetValue());
	                                                                textBoxNewsInput.SetValue('');
                                                                }" />
                                                                <ClientSideEvents Click="function(s, e) {
	                                                                client.send(newsTopic, {}, textBoxNewsInput.GetValue());
	                                                                textBoxNewsInput.SetValue(&#39;&#39;);
                                                                }"></ClientSideEvents>
                                                            </dx:ASPxButton>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td width="50%">
                                        <div style="border: 1px solid #d2d2d2; height: 115px; background-color: #efefef;">
                                            <div>
                                                <h3>
                                                    Informasi</h3>
                                                
                                                <dx:ASPxListBox ID="infoList" runat="server" BackColor="#EFEFEF" ClientInstanceName="infoList"
                                                    EnableCallbackMode="True" EnableClientSideAPI="True" Height="58px" Width="100%"
                                                    ValueField="id">
                                                    <Border BorderStyle="None" />
                                                    <Border BorderStyle="None"></Border>
                                                    
                                                </dx:ASPxListBox>
                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td width="100%" valign="middle">
                                                            <dx:ASPxTextBox ID="textBoxInfoInput" runat="server" Width="100%" ClientInstanceName="textBoxInfoInput"
                                                                EnableClientSideAPI="True">
                                                            </dx:ASPxTextBox>
                                                        </td>
                                                        <td valign="middle">
                                                            &nbsp;
                                                        </td>
                                                        <td valign="middle">
                                                            <dx:ASPxButton ID="buttonSendInfo" runat="server" Text="Send" ClientInstanceName="buttonSendInfo"
                                                                AutoPostBack="False" EnableClientSideAPI="True">
                                                                <ClientSideEvents Click="function(s, e) {
	                                                                client.send(infoTopic, {}, textBoxInfoInput.GetValue());
	                                                                textBoxInfoInput.SetValue('');
                                                                }" />
                                                                <ClientSideEvents Click="function(s, e) {
	                                                                client.send(infoTopic, {}, textBoxInfoInput.GetValue());
	                                                                textBoxInfoInput.SetValue(&#39;&#39;);
                                                                }"></ClientSideEvents>
                                                            </dx:ASPxButton>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </dx:SplitterContentControl>
                    </ContentCollection>
                </dx:SplitterPane>
            </Panes>
        </dx:ASPxSplitter>
    </div>
    <asp:ScriptManager ID="ScripManager1" runat="server">
        <Scripts>
            <asp:ScriptReference Path="~/js/timeoutmethod.js" />
            <asp:ScriptReference Path="~/js/jquery/jquery.min.js" />
            <asp:ScriptReference Path="~/js/jquery/ui/jquery-ui.min.js" />
            <asp:ScriptReference Path="~/js/notify.js" />
            <asp:ScriptReference Path="~/js/notifyMe.js" />
        </Scripts>
    </asp:ScriptManager>
    <div id="TimeoutPanel" title="Timeout Warning" style="display: none;">
        <p>
            Your session will expire in
            click the button below if you are still using the application.
        </p>
        <p style="text-align: center;">
            <asp:Button ID="btnPreserveSession" runat="server" CausesValidation="false" Text="Preserve Session"
                OnClientClick="PreserveSession()" />
        </p>
    </div>
      <div>
          <dx:ASPxTimer ID="timerNotif" runat="server" Interval="60000" 
              ontick="timerNotif_Tick">
          </dx:ASPxTimer>
          
            <asp:UpdatePanel ID="up1" runat="server">
                <Triggers>
                    <asp:AsyncPostBackTrigger ControlID="timerNotif" EventName="Tick" />
                </Triggers>
                <ContentTemplate>
                </ContentTemplate>
            </asp:UpdatePanel>
        </div>
    </form>
</body>
</html>
