﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="brokerRekapPerhitunganFeekliring.aspx.cs" Inherits="imq.kpei.report.brokerRekapPerhitunganFeekliring" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>

<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">   
    <table>
        <tr>
            <td>Start Date</td>
            <td>
                <dx:ASPxDateEdit ID="deStartDate" runat="server" DisplayFormatString="yyyy-MM-dd"></dx:ASPxDateEdit>
            </td>
        </tr>
        <tr>
            <td>End Date</td>
            <td>
                <dx:ASPxDateEdit ID="deEndDate" runat="server" DisplayFormatString="yyyy-MM-dd"></dx:ASPxDateEdit>
            </td>
            <td><dx:ASPxButton ID="btnOK" runat="server" Text="OK" onclick="btnOK_Click"/></td>
        </tr>
    </table>
    <div><asp:Label ID="lbMessage" runat="server" Text="" ForeColor="#ff0000" ></asp:Label></div>
    <div style="width:100%;height:100%">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        <rsweb:ReportViewer ID="ReportViewer1" runat="server" ProcessingMode="Remote" Width="100%" Height="100%"></rsweb:ReportViewer>    
    </div>
    </form>
</body>
</html>
